<div class="slide-block">
    <div class="slide-body">
        <form>
            <div class="form-group">
                <label class="col-sm-2 control-label">title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="<%= item.title %>" />
                </div>
            </div>
        </form>
    </div>
    <div class="button-block">
        <button data-type="slide-status-change" class="btn btn-success btn-sm" type="button">Error</button>
        <button data-type="slide-status-change" class="btn btn-danger btn-sm" type="button">Success</button>
        <button data-type="slide-change" class="btn btn-primary btn-sm" type="button">Apply changes</button>
    </div>
</div>