<link href='<%= general.assetsDir %>css/bootstrap.min.css' rel="stylesheet">
<link href='<%= general.assetsDir %>css/style.css' rel="stylesheet">
<script src="<%= general.assetsDir %>js/libs/jquery.js"></script>
<script src="<%= general.assetsDir %>js/libs/rx.all.js"></script>
<script src="<%= general.assetsDir %>js/libs/socket.io.js"></script>
<script src="<%= general.assetsDir %>js/dist/utils.js"></script>