<li id="slide<%= index %>">
    <div class="slide-body">
        <h1 class="slide-title"><%= item.title %></h1>
        <div class="slide-content">
            <!-- template for plain text -->
            <% if (item.type == 'html') { %>
                <%- item.content.html %>
                    <% } %>
                        <!-- template for image -->
                        <% if (item.type == 'image') { %>
                            <img class="slide-image" src="<%= item.content.url %>" />
                            <% } %>
                                <!-- template for ajax -->
                                <% if (item.type == 'ajax') { %>
                                    <h2>ajax:todo</h2>
                                    <% } %>
        </div>
    </div>
</li>