body {
    background: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.fullpage-slider {
    width: 100%;
}


/* 
--------------------
main view slider
--------------------
*/

.bxslider > li {
    background: #000;
    height: 500px;
}

.bxslider > li.active {
    background: #0f0;
}

.bxslider > li.fail {
    background: #f00;
}


/*
--------------------
 chat message block
--------------------
 */

.chat-message {
    width: 100%;
    z-index: 1000;
    padding: 20px;
    display: none;
    bottom: 10%;
    position: absolute;
    background: #fc0;
    color: #000;
}

.chat-message.active {
    display: block;
}

.chat-message__content {
    display: inline-block;
    font-size: 2em;
}

.chat-message__author {
    float: left;
    width: 20%;
    font-style: italic;
}


/*
--------------------
 dashboard pannel
--------------------
 */

.bxslider.dashboard-view > li {
    width: 49%;
    display: inline-block;
    margin: 5px;
    float: left;
    list-style-type: none;
    padding: 10px;
}

.bxslider.dashboard-view > li img {
    width: 60%;
}


/*
--------------------
 admin pannel
--------------------
 */

.slide-block {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}

.container input,
.container textarea {
    padding: 4px;
    color: #111;
}

.button-block {
    padding-top: 60px;
}

#slide-change {
    display: none;
}

button[data-type="slide-change"] {
    display: none;
}


/* 
--------------------
footer
--------------------
*/

footer {
    background: #333;
    height: 30px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer .details {
    float: right;
}

footer .copyright {
    float: left;
}
