<!doctype html>
<html>
  <head>
    <title><%= settingsClient.title %> </title>

    <% include ../partials/head-resources %>

    <link href='<%= general.assetsDir %>css/jquery.bxslider.css' rel="stylesheet">
    <script src="<%= general.assetsDir %>js/libs/jquery.bxslider.js"></script>
    <script src="<%= general.assetsDir %>js/dist/client-app.js"></script>
  </head>
  <body>
  
  <div class="chat-message">
    <div class="chat-message__author"></div>
    <div class="chat-message__content"></div>
  </div>

    <ul class="bxslider fullpage-slider" id="slider">
      <% slidesData.forEach(function(item, index) { %>
          <% include ../partials/slide-wrapper %>
      <% }); %>
    </ul>

    <% include ../partials/footer %>
  </body>
</html>
