<!doctype html>
<html>
  <head>
    <title><%= settingsAdmin.title %></title>

    <% include ../partials/head-resources %>

    <script src="<%= general.assetsDir %>js/libs/bootstrap.js"></script>
    <script src="<%= general.assetsDir %>js/libs/socket.io.js"></script>
    <script src="<%= general.assetsDir %>js/dist/admin-app.js"></script>
  </head>
  <body>

<div class="container">

      <div class="page-header">
        <h3><%= settingsAdmin.title %></h3>
      </div>

      <div class="row">
        <div class="col-md-6">
        <h3>Slides <span><%= jsonData.length%></span></h3>

            <% jsonData.forEach(function(item, index) { %>
                <% include ../partials/admin-slide-wrapper %>
            <% }); %>

        </div>
        <div class="col-md-6">
          <h3>General</h3>
           <div>
              <span class="glyphicon glyphicon-film"></span>
              <button id="toggle-view-change" class="btn btn-primary" type="button">Toggle view</button>
            </div>
            <div>
              <span class="glyphicon glyphicon-play"></span>
              <button id="play-pause-change" class="btn btn-primary"  type="button">Play/pause</button>
            </div>
            <div>
              
              <button id="play-pause-change" class="btn btn-primary"  type="button">Fullscreen</button>
            </div>

            <hr>
            <div class="chat-block">
              <textarea id="chat-message"></textarea>
              <button id="send-chat-message" class="btn btn-primary"  type="button">Send message</button>
            </div>

        </div>
      </div>

    </div> <!-- /container -->



<% include ../partials/footer %>
  </body>
</html>
