<!doctype html>
<html>
  <head>
    <title>slider via React</title>
    <link href='assets/style.css' rel="stylesheet">
  </head>
  <body>
    <div id="react-main-mount">
      <%- reactOutput %>
    </div>
    <img src="testfile.png" width="100px">
    <!-- comment out main.js to ONLY see server side rendering -->
    <script src="bundle.js"></script>
    <script id="initial-data" data-json='<%- jsonData %>'></script>
  </body>
</html>
